* {
    margin: 0;
    padding: 0;
}

a {
    color: #222;
    text-decoration: none;
}

.accordion {
    background: #eee;
    border: 1px solid #999;
    padding: 0 20px 24px;
    width: 500px;
    margin: 100px auto;
}

.accordion h2 {
    margin: 12px 0;
}

.section {
    border-bottom: 5px solid #eee;
    padding: 0 20px;
    background: #fff;
}

.section a {
    display: block;
    font-weight: 500;
    padding: 15px 0;
    font-weight: 700;
}

.section h3 + div {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in;
}

.accordion :target h3 + div {
    height: 120px;
}

.large:target div {
    overflow-y: scroll;
}